<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="blog">
        {% for post in posts%}
            <div class="conteudo">
                <div class="post-info">
                    {{ post.time.strftime('%Y-%m-%d %H:%M') }}
                </div>
                <img src="../static/picture/{{ randomnum|random }}.jpg">
                <h1>{{ post.title }}</h1>
                <hr>
                <p>
                    {{ post.content|cutwords|markdown }}
                </p>
                <style scoped>
                    .button-success {
                        background: rgb(28, 184, 65);
                        color: white;
                        border-radius: 4px;
                        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                    }
                </style>
                <a href="/post/{{ post.title }}" class="continue-lendo">
                    <button class="button-success pure-button">Read more →</button>
                </a>
            </div>
        {% endfor %}
        <div class="conteudo">
            <div class="pure-g">
                <a href="/archive" class="continue-lendo">
                    <button class="pure-button">Only 5 latest Post Show On The Home Page, Go To The Archive Page
                </button>
                </a>

            </div>
        </div>
    </div>

{% endblock %}
