<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="blog">
        <div class="conteudo">
            <table class="pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th>Posts</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>
                            <button class="pure-button">{{ tag.content }}</button>
                        </td>
                        <td width="100%">
                            {% for post in tag.posts %}
                                <a class="Alabel"
                                   href="{{ url_for('public.page_read_more', title = post.title ) }}">《 {{ post.title }}
                                    》</a>
                                <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}